body {
  background: url("tech-2023-homepage-main-banner-dektop.jpg") no-repeat;
  background-size: cover;
}
#centerText {
  color: white;
  height: 500px;
}
#navfont {
  color: grey;
}
 #buttonColor {
   background-color: #e77724;
 }
h1 {
  font-family: "Times New Roman";
}
div.nav-item.nav-link {
  color: dimgrey;
}